* {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/*NavBar*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    width: 80%;
    height: 44px;
}

.buttonlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logot {
    font-size: 18px;
    color: #3A404E;
}

.links {
    align-items: center;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #667085;
}

.buttons {
    display: flex;
}

button {
    all: unset;
    border-radius: 8px;
    padding: 10px 18px;
}

.b1 {
    background-color: white;
    color: #667085;
}

.b2 {
    background: #8E2424;
    color: #FFFFFF;
}